body {
  font-size: 1.2em;

}

h1 {
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}



li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  padding: "auto";

}

h3 {
  padding-left: 640px;

  }

#categories {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#categories td, #categories th {
  border: 1px solid #ddd;
  padding: 8px;
}


#categories td:hover {background-color: white;}


#categories th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A52A2A;
  color: white;
}

#categories td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
  background-color: #A9A9A9;
}

#items {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#items td, #items th {
  border: 1px solid #ddd;
  padding: 8px;
}

#items th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A52A2A;
  color: white;
}

#items td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
  background-color: #A9A9A9;
}
